:root {
    --bg: #000000;
    --card-bg: #000000
    --background-color: #000000
    --border: #000000
    --primary: #052742;
    --primary-hover: #000000;
    --accent: #162414;
    --text-main: #ffffff;
    --font-heading: 'Impact', sans-serif;
    --font-body: 'Plus Jakarta Sans', 'Rubik Spray Paint', cursive;
}
.logo-container {
    background-color: var(--card-bg); /* Uses your card background color */
    border: 2px solid var(--border);  /* Adds your green border */
    text-align: center;              /* Centers both image and caption */
    padding: 20px;                   /* Adds space inside the box */
}
h1 {
    color: white;
    font-family: 'Rubik Spray Paint', cursive;
}  
h4 {
    color: white;
    font-family: 'Rubik Spray Paint', cursive;
}

